.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #35b68f;
  border: 1px solid;
  /* margin-top: 60px; */
  border-color: #42a834 #4f9c31 #297e84;
  color: #111;
  border-radius: 40px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 8px;
}
